<% const form = {
    id: 'settingsForm',
    displayNameInput: { 
        id: 'textDisplayNameProfileInput', 
        label: {
            content: 'Nombre de usuario',
        },
        type: 'text', 
        name: 'displayName' 
    },
    profilePictureInput: { 
        id: 'fileProfilePictureProfileInput', 
        label: {
            content: 'Foto de perfil',
        },
        name: 'profilePicture' 
    },
    coverPictureInput: {
        id: 'fileCoverPictureProfileInput', 
        label: {
            content: 'Foto de portada',
        },
        name: 'coverPicture' 
    },
    nameInput: {
        id: 'nameProfileInput',
        label: {
            content: 'Nombre',
        },
        type: 'text',
        name: 'name'
    },
    lastNameInput: {
        id: 'lastNameProfileInput',
        label: {
            content: 'Apellido',
        },
        type: 'text',
        name: 'lastName'
    },
    passwordInput: {
        id: 'passwordProfileInput',
        label: {
            content: 'Contraseña',
        },
        type: 'password',
        name: 'password'
    },
    repeatPasswordInput: {
        id: 'repeatPasswordProfileInput',
        label: {
            content: 'Repetir Contraseña',
        },
        type: 'password',
        name: 'repeatPassword'
    },
    switches: [
        {
            id: 'commentNotificationsSwitch',
            content: 'Notificame por correo electrónico cuando sea mencionado o respondan a mis comentarios.'
        },
        {
            id: 'followingNotificationsSwitch',
            content: 'Notificame por correo electrónico cuando haya actualizaciones sobre mis temas favoritos.'
        },
        {
            id: 'newsletterNotificationsSwitch',
            content: 'Notificame por correo electrónico cuando haya noticias importantes o boletines cada semana.'
        }
    ],
    submitButton: {
        id: 'settingsSubmitButton', 
        content: 'Guardar cambios'
    },
    changePasswordButton: {
        id: 'changePasswordButton', 
        class: 'btn btn-secondary mb-3', 
        content: 'Cambiar Contraseña'
    }
}; %>

<section>
    <h2>Preferencias</h2>

    <form id="settingsForm" class="g-3">
        <h3>información pública</h3>

        <p>Administra el nombre de usuario y perfil que se mostrará públicamente.</p>

        <%- include('../shared/outlineInput', { input: form.displayNameInput }) %>
        
        <p>Selecciona una imágen de perfil</p>

        <%- include('../shared/fileInput', { input: form.profilePictureInput }) %>

        <p>Selecciona una imágen de portada</p>

        <%- include('../shared/fileInput', { input: form.coverPictureInput }) %>

        <h3>Información personal</h3>

        <p>Administra tu información personal. Consulta nuestros <a href="#">Términos de Servicio</a> y <a href="#">Política de Privacidad</a>.</p>

        <div class="row">
            <div class="col-md-6">
                <%- include('../shared/outlineInput', { input: form.nameInput }) %>
            </div>

            <div class="col-md-6">
                <%- include('../shared/outlineInput', { input: form.lastNameInput }) %>
            </div>
        </div>

        <%- include('../shared/button', { button: form.changePasswordButton }) %>

        <div class="border-1 visually-hidden">
            <%- include('../shared/outlineInput', { input: form.passwordInput }) %>

            <%- include('../shared/outlineInput', { input: form.repeatPasswordInput }) %>
        </div>

        <h2>Configuración de la cuenta</h2>

        <h3>Notificaciones</h3>

        <p>Administra tus preferencias de notificación.</p>

        <% form.switches.forEach( switchItem => { %>
            <%- include('../shared/switch', { switchItem }) %>
        <% }); %>

        <div class="bg-sticky rounded-3">
            <%- include('../shared/submit', { button: form.submitButton }) %>
        </div>
    </form>
</section>