<article class="card">
    <%- article.grid ? `
        <div class="${ article.grid.row }">
            <div class="${ article.grid.colImg }">
    ` : '' %>

                <img src="<%= article.img.src %>" class="<%= article.img.class %>" 
                    alt="<%= article.img.alt %>"
                >

    <%- article.grid ? `
            </div>
            
            <div class="${ article.grid.colBody }">
    ` : '' %>

                <div class="<%= article.body.class %>">
                    <h3 class="card-title">
                        <a class="<%= article.body.title.class %>" 
                            href="<%= article.body.title.link %>"
                        >
                            <%= article.body.title.content %>
                        </a>

                        <%- article.body.badge ? 
                            `<a href="/categories/${ article.body.badge.link }" 
                                class="badge badge-primary"
                            >
                                ${ article.body.badge.content }
                            </a>` : '' 
                        %>
                    </h3>

                    <%- article.shortDescription ? 
                        `<p class="card-text">
                            ${ article.shortDescription }
                        </p>` : '' 
                    %>

                    <%- article.metadata ? 
                        `<p class="card-text">
                            <small class="text-muted">${ article.metadata.date }</small>
                        </p>` : '' 
                    %>
                </div>

    <%- article.grid ? `
            </div>
        </div>
    ` : '' %>
</article>