<% if (viewMode === 'overlay') { %>
    <article class="bg-image" style="background-image: url('/img/ejemplo.png');">
        <div class="overlay"></div>
        
        <div class="position-relative p-3">
            <a class="mb-2 text-overlay" href="#">
                <p class="fs-3 fw-semibold"><%= shortTitle %></p>
            </a>

            <a class="badge badge-overlay" href="#"><%= category %></a>
        </div>
    </article>
<% } else if (viewMode === 'vertical') { %>
    <article class="bg-style">
        <a href="#">
            <img src="/img/ejemplo.png" alt="Imagen de la noticia" class="img-fluid mb-2">
            <p class="fs-3 fw-bold"><%= shortTitle %></p>
            <p class="small"><%= date %></p>
        </a>

        <a class="badge badge-body" href="#"><%= category %></a>
    </article>
<% } else if (viewMode === 'horizontal') { %>
    <article class="row bg-style">
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="/img/ejemplo.png" width="300">
        </div>
        
        <div class="col-12 col-md-8">
            <a href="#">
                <p class="fs-3 fw-bold"><%= shortTitle %></p>
                <p class="small"><%= date %></p>
            </a>

            <a class="badge badge-body" href="#"><%= category %></a>
        </div>
    </article>
<% } else { %>
    <article class="bg-style">
        <a href="#">
            <img src="/img/ejemplo.png" alt="Imagen de la noticia" class="img-fluid mb-2">
            <p class="fs-4 fw-medium"><%= shortTitle %></p>
        </a>
    </article>
<% } %>