<main class="my-4">
    <%- include('./mainNews'); %>

    <%- include('./latestNews'); %>

    <%- include('./newsByCategory', {
        title: 'Noticias de Juegos'
    }); %>

    <%- include('./newsByCategory', {
        title: 'Noticias de Streaming'
    }); %>

    <%- include('./newsByCategory', {
        title: 'Noticias de Tecnología'
    }); %>
</main>