<button class="<%= btnClass %>" type="button" 
    <% if (withToggle) { %> data-mdb-toggle="<%= toggle %>" <% } %>
    <% if (withTarget) { %> data-mdb-target="<%= target %>" <% } %>
    <% if (withDismiss) { %> data-mdb-dismiss="<%= dismiss %>" <% } %>
    <% if (withAria) { %> aria-controls="<%= controls %>" aria-expanded="false" <% } %>
>
    <%- content %>
</button>