<form <% for (let key in form.attrs) { %> 
        <%= key %>="<%= form.attrs[key] %>" 
    <% } %>
    novalidate
>
    <div class="input-group">
        <input id="<%= form.input.id %>" type="<%= form.input.type %>" 
            name="<%= form.input.name %>" class="form-control" 
            <% for (let key in form.input.attrs) { %> 
                <%= key %>="<%= form.input.attrs[key] %>" 
            <% } %>
        >
        
        <label for="<%= form.input.id %>" class="form-label visually-hidden">
            <%- form.label.content %>
        </label>

        <div id="${ form.input.id }Error" class="invalid-tooltip"></div>

        <%- include('./submit', { button: form.submitButton }); %>
    </div>
</form>