<div class="<%= headerClass %>">
    <h5 id="<%= idTitle %>" class="<%= titleClass %>">
        <%= title %>
    </h5>

    <%- include('./button', {
        btnClass: 'btn btn-primary',
        attrs: {
            'data-mdb-dismiss': dismissTarget
        },
        content: '<i class="fa-solid fa-xmark fa-lg"></i>'
    }); %>
</div>