<% let avatarPath = 'upload/avatar.jpg';

if (profile && profile.avatarPath) avatarPath = profile.avatarPath;
if (comment && comment.userAvatarPath) avatarPath = comment.userAvatarPath;

let username = 'Usuario';

if (profile && profile.username) username = profile.username;
if (comment && comment.username) username = comment.username;

const profileCode = profile ? profile.code : null; %>

<img src="<%= avatarPath %>" alt="Foto de perfil"  class="<%= avatarClass %>" 
    <%- (width) ? `width="${ width }"` : '' %>
    <%- (height) ? `height="${ height }"` : '' %>
>

<% if (variant === 'profile') { %>
    <p class="fs-4 text-white">
        <span class="fs-1 fw-bold">
            <%= username %>
        </span>

        <%= profileCode %>
    </p>
<% } else { %>
    <span class="<%= usernameClass %>">
        <%= username %>
    </span>
<% } %>