<% const form = {
    id: 'contactForm',
    inputs: [
        {
            id: 'nameContactInput',
            label: {
                content: 'Nombre:'
            },
            name: 'name',
            type: 'text'
        },
        {
            id: 'emailContactInput',
            label: {
                content: 'Correo electrónico:'
            },
            name: 'email',
            type: 'email'
        }
    ],
    select: {
        id: 'subjectContactSelect',
        name: 'subject',
        label: {
            content: 'Asunto:'
        },
        options: [
            { value: 'suggestion', label: 'Sugerencia' },
            { value: 'error', label: 'Reportar error' },
            { value: 'news', label: 'Enviar noticia' },
            { value: 'collab', label: 'Colaboración' },
            { value: 'other', label: 'Otro' }
        ]
    },
    textarea: {
        id: 'messageContactTextarea',
        label: {
            content: 'Mensaje:'
        },
        name: 'message'
    },
    submitButton: {
        id: 'contactBtn',
        content: 'Enviar'
    }
} %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

        <link href="/img/logo.png" rel="icon">
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <%- include('./partials/auth/login'); %>

        <%- include('./partials/auth/recover'); %>

        <%- include('./partials/auth/register'); %>

        <%- include('./partials/layout/header'); %>

        <div class="container-fluid my-4">
            <div class="row">
                <div class="col-12 col-md-4 text-center">
                    <p>Puedes contactarte directamente a: <a class="fw-bold">correo@gmail.com</a></p>
                    <p>O puedes enviarnos tu asunto en el siguiente formulario:</p>
                </div>
                <div class="col-12 col-md-8">
                    <main class="my-4 px-4">
                        <form id="<%= form.id %>" class="row gy-3" novalidate>
                            <%- include('./partials/shared/outlineInputList', { inputs: form.inputs }) %>

                            <%- include('./partials/shared/select', { selectInput: form.select }) %>

                            <%- include('./partials/shared/textarea', { input: form.textarea }) %>

                            <%- include('./partials/shared/submit', { button: form.submitButton }) %>
                        </form>
                    </main>
                </div>
            </div>
        </div>

        <%- include('./partials/layout/footer'); %>

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script type="module" src="/js/pages/indexPage.js"></script>
        <script type="module" src="/js/pages/auth/loginPage.js"></script>
        <script type="module" src="/js/pages/auth/registerPage.js"></script>
        <script type="module" src="/js/pages/auth/recoverPage.js"></script>
        <!-- <script type="module" src="/js/pages/newsletters/newsletterSidebarPage.js"></script> -->
        <script type="module" src="/js/pages/newsletters/newsletterFooterPage.js"></script>
        <script type="module" src="/js/core/forms/searchForm.js"></script>
        <script type="module" src="/js/pages/contact/contactPage.js"></script>
    </body>
</html>