<% const buttons = [
    { content: '<i class="fa-solid fa-magnifying-glass me-2"></i>Buscar', toggle: 'offcanvas',target: '#searchMenu' },
    { content: '<i class="fa fa-user me-2"></i>Iniciar sesión', toggle: 'modal', target: '#loginModal' }
]; %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" rel="stylesheet"/>
        <link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit/css/mdb.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

        <link href="/img/logo.png" rel="icon">
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <%- include('./partials/auth/login'); %>

        <%- include('./partials/auth/recover'); %>

        <%- include('./partials/auth/register'); %>

        <%- include('./partials/layout/header'); %>

        <div class="container-fluid my-4">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                    <main class="my-4">
                        <section>
                            <h5 class="title-style">Resultados de búsqueda</h5>

                            <div id="searchResults" class="list-group">
                                <%- include('./partials/news/articleList', { 
                                    isSidebar: false 
                                }); %>
                            </div>

                            <nav aria-label="Paginación de resultados">
                                <ul class="pagination">
                                    <% if (pagination.hasPrevPage) { %>
                                        <li class="pagination-item">
                                            <a class="pagination-link" href="#" 
                                                data-page="<%= pagination.currentPage - 1 %>"
                                            >
                                                Anterior
                                            </a>
                                        </li>
                                    <% } %>

                                    <% pagination.visiblePages.forEach(page => { %>
                                        <li class="pagination-item">
                                            <a class="pagination-link <%= (page === pagination.currentPage) ? 'active' : '' %>" 
                                                href="#" data-page="<%= page %>"
                                                <% if (page === pagination.currentPage) { %> aria-current="page" <% } %>
                                            >
                                                <%= page %>
                                            </a>
                                        </li>
                                    <% }); %>

                                    <% if (pagination.hasNextPage) { %>
                                        <li class="pagination-item">
                                            <a class="pagination-link" href="#" 
                                                data-page="<%= pagination.currentPage + 1 %>"
                                            >
                                                Siguiente
                                            </a>
                                        </li>
                                    <% } %>
                                </ul>
                            </nav>
                        </section>
                    </main>
                </div>

                <div class="col-12 col-md-4 col-lg-3">
                    <%- include('./partials/layout/sidebar'); %>
                </div>
            </div>
        </div>

        <div class="d-sm-none">
            <%- include('./partials/shared/button', {
                btnClass: 'btn btn-outline-primary btn-filters',
                withToggle: true,
                toggle: 'offcanvas',
                withTarget: true,
                target: '#searchOffcanvas',
                withDismiss: false,
                withAria: false,
                content: '<i class="fa fa-filter me-2"></i>Filtros'
            }); %>
        </div>

        <%- include('./partials/layout/footer'); %>

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mdb-ui-kit/js/mdb.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
        <script src="/js/index.js"></script>
        <script type="module" src="/js/pages/auth/login.js"></script>
        <script type="module" src="/js/pages/auth/register.js"></script>
        <script type="module" src="/js/pages/auth/recover.js"></script>
        <script type="module" src="/js/pages/newsletters/sidebar.js"></script>
        <script type="module" src="/js/pages/newsletters/footer.js"></script>
        <script type="module" src="/js/core/searchForm.js"></script>
    </body>
</html>