<section aria-label="Resultados de búsqueda">
    <h2 class="title-style"><%= title %></h2>

    <% if (game) { %>
        <%- include('./sections/game/gameCard') %>
    <% } %>

    <div id="searchResults" class="list-group">
        <ul class="list-unstyled">
            <% articles.forEach( article => { 
                const category = (article.category) ? getCategory(article.category) : '';
                const imageUrl = article.coverPath ?? article.blocks.find(block => block.type === 'image').content;
                const shortDescription = (article.description.length > 100) ? `${article.description.substring(0, 100)} ...` : article.description;
                const shortTitle = (article.title.length > 50) ? `${article.title.substring(0, 50)} ...` : article.title;
                const date = (article.publicationDate) ? formatShortDate(article.publicationDate) : '';
            %>
                <li class="mb-3">
                    <%- include('../../shared/articlePreview', {
                        article: {
                            grid: {
                                row: 'row g-0',
                                colImg: 'col-md-4',
                                colBody: 'col-md-8'
                            },
                            img: {
                                src: imageUrl,
                                class: 'img-fluid rounded-start',
                                alt: 'Imagen de la noticia'
                            },
                            body: {
                                class: 'card-body',
                                title: {
                                    class: 'me-3',
                                    link: slugify(article.title),
                                    content: shortTitle
                                },
                                badge: {
                                    link: category,
                                    content: category
                                }
                            },
                            metadata: {
                                date
                            },
                            shortDescription
                        }
                    }) %>
                </li>
            <% }); %>
        </ul>
    </div>

    <%- include('../../shared/pagination') %>
</section>

<%- contentFor('title') %>
<%= pageTitle %>
<%- contentFor('layoutType') %>
sidebar