<% const links = [
    { content: 'Inicio', slug: '/', style: `nav-link ${ (currentRoute === '/') ? 'active' : '' }` },
    { content: 'Gamming', slug: '/categories/gamming', style: `nav-link ${ (currentRoute === '/categories/gamming') ? 'active' : '' }` },
    { content: 'Entretenimiento', slug: '/categories/entretenimiento', style: `nav-link ${ (currentRoute === '/categories/entretenimiento') ? 'active' : '' }` },
    { content: 'Deportes', slug: '/categories/sports', style: `nav-link ${ (currentRoute === '/categories/sports') ? 'active' : '' }` },
    { content: 'Tecnología', slug: '/categories/technology', style: `nav-link ${ (currentRoute === '/categories/technology') ? 'active' : '' }` },
    { content: '<i class="fas fa-envelope me-2"></i>Contacto', slug: '/contacto', style: `nav-link ${ (currentRoute === '/contacto') ? 'active' : '' }` }
]; 

const offcanvasHeader = {
    idTitle: 'searchTitle',
    title: 'Menú',
    titleClass: 'offcanvas-title',
    headerClass: 'offcanvas-header',
    dismissTarget: 'offcanvas'
};

const form = {
    idForm: 'searchOffcanvasForm',
    viewMode: 'search',
    input: { 
        id: 'textSearchOffcanvasInput', 
        placeholder: 'Buscar noticias, tags, etc...',
        label: 'Buscar:', 
        name: 'q'
    },
    buttonLabel: 'Buscar'
}; %>

<header class="dark">
    <div id="headerDate" class="top-bar text-center"></div>

    <nav class="navbar navbar-expand-lg p-0">
        <div class="container-fluid">
            <div class="collapse navbar-collapse d-none d-lg-flex">
                <%- include('../shared/linkList', { 
                    links,
                    isHeader: true
                }); %>

                <% if (!user) { %>
                    <%- include('../shared/button', {
                        btnClass: 'btn btn-outline-primary',
                        withToggle: true,
                        toggle: 'modal',
                        withTarget: true,
                        target: '#loginModal',
                        withDismiss: false,
                        withAria: false,
                        content: '<i class="fa fa-user me-2"></i>Iniciar sesión'
                    }); %>
                <% } else { %>
                    <%- include('../shared/profileMenu', {
                        user,
                        profileMenuViewMode: 'header'
                    }); %>
                <% } %>
            </div>
        </div>
    </nav>

    <%- include('../shared/offcanvas', {
        offcanvasHeader,
        form, 
        links
    }); %>

    <div class="container-fluid bg-title py-3">
        <div class="d-flex align-items-center justify-content-center position-relative">
            <div class="position-absolute start-0">
                <div class="btn btn-primary p-0">
                    <%- include('../shared/button', {
                        btnClass: 'navbar-toggler p-2',
                        withToggle: true,
                        toggle: 'offcanvas',
                        withTarget: true,
                        target: '#menuOffcanvas',
                        withDismiss: false,
                        withAria: true,
                        controls: 'navbarNews',
                        content: '<i class="fas fa-bars me-2"></i>Menú'
                    }); %>
                </div>
            </div>
            
            <a href="/" class="navbar-brand text-center">
                <h1 class="title-style">Titulo</h1>
            </a>
        </div>
    </div>
</header>