<% const form = {
    id: 'contactForm',
    inputs: [
        {
            id: 'nameContactInput',
            label: {
                content: 'Nombre:'
            },
            name: 'name',
            type: 'text'
        },
        {
            id: 'emailContactInput',
            label: {
                content: 'Correo electrónico:'
            },
            name: 'email',
            type: 'email'
        }
    ],
    select: {
        id: 'subjectContactSelect',
        name: 'subject',
        label: {
            content: 'Asunto:'
        },
        options: [
            { value: 'suggestion', label: 'Sugerencia' },
            { value: 'error', label: 'Reportar error' },
            { value: 'news', label: 'Enviar noticia' },
            { value: 'collab', label: 'Colaboración' },
            { value: 'other', label: 'Otro' }
        ]
    },
    textarea: {
        id: 'messageContactTextarea',
        label: {
            content: 'Mensaje:'
        },
        name: 'message'
    },
    submitButton: {
        id: 'contactBtn',
        content: 'Enviar'
    }
} %>

<div class="row">
    <div class="col-12 col-md-4 text-center">
        <p>Puedes contactarte directamente a: <a class="fw-bold" href="mailto:contacto@news.com">contacto@news.com</a></p>
        <p>O puedes enviarnos tu asunto en el siguiente formulario:</p>
    </div>
    <div class="col-12 col-md-8">
        <main class="my-4 px-4">
            <form id="<%= form.id %>" class="row gy-3" novalidate>
                <%- include('../../shared/outlineInputList', { inputs: form.inputs }) %>

                <%- include('../../shared/select', { selectInput: form.select }) %>

                <%- include('../../shared/textarea', { input: form.textarea }) %>
                
                <%- include('../../shared/submit', { button: form.submitButton }) %>
            </form>
        </main>
    </div>
</div>

<script type="module" src="/js/pages/contact/contactPage.js"></script>

<% contentFor('title') %>
Contacto
<% contentFor('layoutType') %>
site