<% if (profile) { %>
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
<% } %>

<h3 class="fw-bold mb-3">💬 Comentarios</h3>

<% if (profile) { %>
    <%- include('./commentForm', { comment: null }) %>
<% } else { %>
    <div class="d-flex flex-wrap align-items-center mb-3">
        <span>Comparte tus pensamientos con </span>

        <%- include('../../../../shared/loginButton', { idLoginButton: 'loginCommentBtn' }) %>
    </div>
<% } %>

<ul id="commentList" class="list-group list-group-light">
    <% comments.forEach( comment => { %>
        <li id="comment-<%= comment.id %>"
            class="bg-comment list-group-item px-3 rounded-3 list-group-item-primary mb-2" 
        >
            <div class="d-inline-flex align-items-center gap-2">
                <a href="/profile/<%= comment.username %>" class="text-decoration-none">
                    <%- include('../../../../shared/userAvatar', {
                        item: comment,
                        avatarClass: 'rounded-circle me-2',
                        width: 32,
                        height: 32,
                        usernameClass: 'fw-bold',
                        variant: 'comment',
                    }) %>
                </a>

                <span class="text-muted">·</span>

                <span title="<%= formatLongDate(comment.created_at) %>" class="fs-6">
                    <%= formatRelativeDate(comment.created_at) %>
                </span>
            </div>

            <p class="text-dark py-1 px-3 px-md-4 px-lg-5"><%- comment.description %></p>

            <div class="d-flex flex-wrap gap-3">
                <%- include('../../ui/actionButton', {
                    actionButton: {
                        id: 'articleCommentLikeButton',
                        class: 'btn btn-link btn-sm rounded-pill',
                        title: comment.isLiked ? 'Gustado' : 'Dar me gusta',
                        data: {
                            action: 'like',
                            entityId: comment.id,
                            entityType: 'comment'
                        },
                        iconClass: `${ comment.isLiked ? 'fa-solid' : 'fa-regular' } fa-thumbs-up`,
                        value: comment.likeTotal,
                        isToggle: true
                    }
                }) %>

                <%- include('../../ui/actionButton', {
                    actionButton: {
                        id: 'articleCommentDislikeButton',
                        class: 'btn btn-link btn-sm rounded-pill',
                        title: comment.isDisliked ? 'No gustado' : 'Dar no me gusta',
                        data: {
                            action: 'dislike',
                            entityId: comment.id,
                            entityType: 'comment'
                        },
                        iconClass: `${ comment.isDisliked ? 'fa-solid' : 'fa-regular' } fa-thumbs-down`,
                        value: comment.dislikeTotal,
                        isToggle: true
                    }
                }) %>
                
                <%- include('../../ui/actionButton', {
                    actionButton: {
                        id: 'articleCommentReplyButton',
                        class: 'btn btn-link btn-sm rounded-pill',
                        title: 'Responder',
                        data: null,
                        iconClass: 'fas fa-reply',
                        value: comment.replyTotal,
                        isToggle: false
                    }
                }) %>
            </div>
        </li>
    <% }); %>
</ul>

<%- include('../../../../shared/pagination') %>

<% if (profile) { %>
    <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
    <script src="https://unpkg.com/tributejs/dist/tribute.min.js"></script>
<% } %>