<article>
    <%- include('../../shared/linkBadge', {
        badgeClass: null,
        href: '/' + article.tag,
        name: article.tag
    }) %>

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="fw-bold fs-6">
                <%= article.title %>
            </div>

            <div class="fs-6">
                <%= article.description %>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div>Por: <div class="fw-bold"><%= article.author %></div></div>

            <div>Publicado: <%= formatLongDate(article.publicationDate) %></div>

            <div><i class="fa-regular fa-bookmark"></i> Seguir</div>

            <%- include('./ui/articleActionButton', {
                id: 'articleLikeButton',
                entityId: article.id,
                action: 'like',
                entityType: 'article',
                iconClass: 'fas fa-heart',
                value: article.likeTotal,
                buttonTitle: 'Me gusta',
                buttonClass: 'btn btn-primary btn-sm rounded-pill'
            }) %>
        </div>
    </div>

    <% article.blocks.forEach(block => { %>
        <% if (block.type === 'paragraph') { %>
            <p><%= block.content %>
        <% } %>

        <% if (block.type === 'image') { %> 
            <figure>
                <img  src="<%= block.src %>" alt="<%= block.alt %>">

                <% if (block.caption) { %>
                    <figcaption><%= block.caption %></figcaption>
                <% } %>
            </figure>
        <% } %>

        <% if (block.type === 'video') { %>
            <iframe src="<%= block.src %>" allowfullscreen></iframe>
        <% } %>

        <% if (block.type === 'ad') { %>
            
        <% } %>
    <% }); %>
</article>

<section class="my-5">
    <%- include('./sections/comments/articleComments') %>
</section>

<script type="module" src="/js/pages/article/articlePage.js"></script>

<%- contentFor('title') %>
<%= article.title %>
<%- contentFor('layoutType') %>
sidebar