<article>
    <%- include('../../shared/linkBadge', {
        badgeClass: null,
        href: '/' + article.tag,
        name: article.tag
    }) %>

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="fw-bold fs-6">
                <%= article.title %>
            </div>

            <div class="fs-6">
                <%= article.description %>
            </div>
        </div>

        <div class="col-12 col-md-4">
            Por: <div class="fs-bold"><%= article.author %></div>
            Publicado: <%- formatLongDate(article.publicayionDate) %>
        </div>

        <div><i class="fa-regular fa-bookmark"></i> Seguir</div>
    </div>

    <% article.blocks.forEach(block => { %>
        <% if (block.type === 'paragraph') { %>
            <p><%= block.content %>
        <% } %>

        <% if (block.type === 'image') { %> 
            <figure>
                <img  src="<%= block.src %>" alt="<%= block.alt %>">

                <% if (block.caption) { %>
                    <figcaption><%= block.caption %></figcaption>
                <% } %>
            </figure>
        <% } %>

        <% if (block.type === 'video') { %>
            <iframe src="<%= block.src %>" allowfullscreen></iframe>
        <% } %>

        <% if (block.type === 'ad') { %>
            
        <% } %>
    <% }); %>
</article>

<section class="my-5">
    <%- include('./sections/comments/articleComments') %>
</section>

<%- contentFor('title') %>
<%= article.title %>
<%- contentFor('layoutType') %>
sidebar