<% const url = `http://localhost:3000/${ slugify(article.title) }`;
const dropdown = {
    toggleSplitButton: {
        class: 'btn btn-primary btn-sm rounded-pill',
        content: 'Compartir<i class="ms-1 fas fa-share"></i>'
    },
    links: [
        {
            content: 'WhatsApp',
            href: `https://wa.me/?text=${ encodeURIComponent(url) }`,
            target: '_blank'
        },
        {
            content: 'X',
            href: `https://twitter.com/intent/tweet?url=${encodeURIComponent(url)}`,
            target: '_blank'
        },
        {
            content: 'Facebook',
            href: `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(url)}`,
            target: '_blank'
        },
        {
            content: '<span data-copy="true">Copiar enlace</span>',
            href: '#',
            target: '_self'
        }

    ]
}; %>

<article>
    <%- include('../../shared/linkBadge', {
        badgeClass: null,
        href: '/' + article.tag,
        name: article.tag
    }) %>

    <div class="row">
        <div class="col-12 col-md-8">
            <div class="fw-bold fs-6">
                <%= article.title %>
            </div>

            <div class="fs-6">
                <%= article.description %>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div>Por: <div class="fw-bold"><%= article.author %></div></div>

            <div>Publicado: <%= formatLongDate(article.publicationDate) %></div>

            <%- include('./ui/articleActionButton', {
                id: 'articleBookmarkButton',
                entityId: article.id,
                action: 'bookmark',
                entityType: 'article',
                iconClass: article.isSaved ? 'fa-solid fa-bookmark' : 'fa-regular fa-bookmark',
                value: article.isSaved ? 'Guardado' : 'Guardar',
                buttonTitle: article.isSaved ? 'Guardado' : 'Guardar',
                buttonClass: 'btn btn-primary btn-sm rounded-pill mb-2' + (article.isSaved ? ' active' : '')
            }) %>

            <%- include('./ui/articleActionButton', {
                id: 'articleLikeButton',
                entityId: article.id,
                action: 'like',
                entityType: 'article',
                iconClass: article.isLiked ? 'fa-solid fa-thumbs-up' : 'fa-regular fa-thumbs-up',
                value: article.likeTotal,
                buttonTitle: article.isLiked ? 'Gustado' : 'Dar me gusta',
                buttonClass: 'btn btn-primary btn-sm rounded-pill mb-2' + (article.isLiked ? ' active' : '')
            }) %>

            <%- include('../../shared/dropdown', { dropdown }) %>
        </div>
    </div>

    <% article.blocks.forEach(block => { %>
        <% if (block.type === 'paragraph') { %>
            <p><%= block.content %>
        <% } %>

        <% if (block.type === 'image') { %> 
            <figure>
                <img  src="<%= block.src %>" alt="<%= block.alt %>">

                <% if (block.caption) { %>
                    <figcaption><%= block.caption %></figcaption>
                <% } %>
            </figure>
        <% } %>

        <% if (block.type === 'video') { %>
            <iframe src="<%= block.src %>" allowfullscreen></iframe>
        <% } %>

        <% if (block.type === 'ad') { %>
            
        <% } %>
    <% }); %>
</article>

<section class="my-5">
    <%- include('./sections/comments/articleComments') %>
</section>

<script type="module" src="/js/pages/article/articlePage.js"></script>

<%- contentFor('title') %>
<%= article.title %>
<%- contentFor('layoutType') %>
sidebar