<li class="btn-group d-flex justify-content-end dropdown">
    <%- dropdown.link || '' %>

    <button id="<%= dropdown.toggleButton.id %>" type="button"
        class="<%= dropdown.toggleButton.class %>" data-mdb-dropdown-init
        data-mdb-toggle="dropdown" aria-expanded="false"
    >
        <%- dropdown.toggleButton.content %>
    </button>

    <ul class="dropdown-menu" aria-labelledby="<%= dropdown.toggleButton.id %>">
        <% links.forEach(link => { %>
            <li>
                <a href="<%= link.slug %>" class="dropdown-item">
                    <%- link.content %>
                </a>
            </li>
        <% }); %>
        
        <% if (dropdown.form) { %>
            <li>
                <hr class="dropdown-divider">
            </li>

            <li>
                <%- include('./logoutForm', { form: dropdown.form }) %>
            </li>
        <% } %>
    </ul>
</li>