<form id="<%= form.id %>" class="row g-3" novalidate>
    <%- form.tokenInput || '' %>

    <%- include('../../shared/outlineInputList', { inputs: form.inputs }) %>

    <div class="col-12">
        <%- form.cancelButton ? 
            include('../../shared/button', { button: form.cancelButton }) : '' 
        %>

        <%- include('../../shared/submit', { button: form.submitButton }) %>
    </div>
</form>