<% const header = {
    button: {
        id: modal.header.button.id,
        dismissTarget: 'modal'
    },
    class: 'modal-header',
    title: {
        id: modal.header.title.id,
        content: modal.header.title.content,
        class: 'modal-title',
    }
}; %>

<div id="<%= modal.id %>" class="modal fade" tabindex="-1" 
    aria-labelledby="<%= modal.header.title.id %>"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <%- include('../../shared/header', { header }) %>

            <div class="modal-body dark">
                <p class="text-center">Accede con:</p>

                <% modal.socialLogin.links.forEach(link => { %>
                    <div class="text-center my-4">
                        <a href="<%= link.slug %>" class="btn btn-outline-primary <%= link.class %>">
                            <%- link.content %>
                        </a>
                    </div>
                <% }); %>

                <div class="text-center my-4">
                    <%- include('../../shared/button', { 
                        button: modal.socialLogin.toggleButton 
                    }) %>
                </div>

                <p class="text-center">O con:</p>

                <%- include('./authForm', { form }) %>

                <div class="d-flex justify-content-center align-items-center mt-3">
                    <p class="mt-3 me-2">¿Olvidaste tu contraseña?</p>

                    <%- include('../../shared/button', { 
                        button: modal.recoverToggleButton 
                    }) %>
                </div>
            </div>
        </div>
    </div>
</div>