<div id="<%= modal.idModal %>" class="modal fade" tabindex="-1" 
    aria-labelledby="<%= modal.idModalLabel %>" aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <%- include('../shared/header', {
                idTitle: modal.idModalLabel,
                title: modal.modalTitle,
                titleClass: 'modal-title',
                headerClass: 'modal-header',
                dismissTarget: 'modal'
            }); %>

            <div class="modal-body dark">
                <%- include('../shared/form', {
                    formViewMode: form.viewMode,
                    form
                }); %>

                <% if (extraContent.withExtraContent) { %>
                    <div class="text-center my-4">
                        <button type="button" class="btn btn-outline-primary">
                            Ingresa con Google
                        </button>
                    </div>

                    <div class="text-center my-4">
                        <h2 class="mb-2"><%= extraContent.title %></h2>

                        <%- include('../shared/button', {
                            btnClass: 'btn btn-outline-primary',
                            withToggle: true,
                            toggle: 'modal',
                            withTarget: true,
                            target: extraContent.idModal,
                            withDismiss: false,
                            withAria: false,
                            content: extraContent.buttonLabel
                        }); %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>