<div id="<%= modal.idModal %>" class="modal fade" tabindex="-1" 
    aria-labelledby="<%= modal.idModalLabel %>"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <%- include('../shared/header', {
                idTitle: modal.idModalLabel,
                title: modal.modalTitle,
                titleClass: 'modal-title',
                headerClass: 'modal-header',
                dismissTarget: 'modal'
            }); %>

            <div class="modal-body dark">
                <% if (extraContent.withSocialLogin) { %>
                    <p class="text-center">Accede con:</p>

                    <div class="text-center my-4">
                        <a href="/auth/google" class="btn btn-outline-primary btn-rounded btn-google">
                            Acceder con <i class="fab fa-google"></i>
                        </a>
                    </div>

                    <p class="text-center">O con:</p>
                <% } %>

                <%- include('../shared/form', {
                    formViewMode: form.viewMode,
                    form
                }); %>

                <% if (form.viewMode === 'login') { %>
                    <div class="d-flex justify-content-center align-items-center mt-3">
                        <p class="mt-3 me-2">¿Olvidaste tu contraseña?</p>
                        <%- include('../shared/button', {
                            btnClass: 'btn btn-link',
                            attrs: {
                                'data-mdb-toggle': 'modal',
                                'data-mdb-modal-init': '',
                                'data-mdb-target': form.idModal,
                                'data-mdb-dismiss': 'modal'
                            },
                            content: form.linkLabel
                        }); %>
                    </div>
                <% } %>

                <% if (extraContent.withExtraContent) { %>
                    <div class="text-center my-4">
                        <h2 class="mb-2"><%= extraContent.title %></h2>

                        <%- include('../shared/button', {
                            btnClass: 'btn btn-outline-primary',
                            attrs: {
                                'data-mdb-toggle': 'modal',
                                'data-mdb-modal-init': '',
                                'data-mdb-target': extraContent.idModal
                            },
                            content: extraContent.buttonLabel
                        }); %>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>