<div id="<%= modal.idModal %>" class="modal fade" tabindex="-1" 
    aria-labelledby="<%= modal.idModalLabel %>" aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="<%= modal.idModalLabel %>" class="modal-title">
                    <%= modal.modalTitle %>
                </h5>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" 
                    aria-label="Cerrar"
                >
                    <i class="fa-solid fa-xmark fa-lg"></i>
                </button>
            </div>

            <div class="modal-body dark">
                <%- include('../shared/form', {
                    formViewMode: form.viewMode,
                    form
                }); %>

                <% if (extraContent.withExtraContent) { %>
                    <div class="text-center my-4">
                        <button type="button" class="btn btn-outline-primary">
                            Ingresa con Google
                        </button>
                    </div>

                    <div class="text-center my-4">
                        <h2 class="mb-2"><%= extraContent.title %></h2>

                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" 
                            data-bs-target="<%= extraContent.idModal %>" data-bs-dismiss="modal"
                        >
                            <%= extraContent.buttonLabel %>
                        </button>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>