<div id="<%= modal.idModal %>" class="modal fade" tabindex="-1" 
    aria-labelledby="<%= modal.idModalLabel %>" aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="<%= modal.idModalLabel %>" class="modal-title">
                    <%= modal.modalTitle %>
                </h5>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" 
                    aria-label="Cerrar"
                >
                    <i class="fa-solid fa-xmark fa-lg"></i>
                </button>
            </div>

            <div class="modal-body dark">
                <form action="<%= form.action %>" method="post">
                    <% if (error & error.length > 0) { %>
                        <div class="alert alert-danger">
                            <%= error %>
                        </div>
                    <% } %>

                    <% form.inputs.forEach(input => { %>
                        <div class="mb-3">
                            <label for="<%= input.name %>" class="form-label">
                                <%= input.label %>
                            </label>

                            <input id="<%= input.name %>" type="<%= input.type %>" 
                                name="<%= input.name %>" class="form-control" required>
                        </div>
                    <% }); %>

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary"><%= form.buttonLabel %></button>

                        <a href="#" class="align-content-center" data-bs-toggle="modal" 
                            data-bs-target="<%= form.idModal %>" data-bs-dismiss="modal"
                        >
                            <%= form.linkLabel %>
                        </a>
                    </div>
                </form>

                <% if (extraContent.withExtraContent) { %>
                    <div class="text-center my-4">
                        <button type="button" class="btn btn-outline-primary">
                            Ingresa con Google
                        </button>
                    </div>

                    <div class="text-center my-4">
                        <h2 class="mb-2"><%= extraContent.title %></h2>

                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" 
                            data-bs-target="<%= extraContent.idModal %>" data-bs-dismiss="modal"
                        >
                            <%= extraContent.buttonLabel %>
                        </button>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>