<% const badgeClass = 'badge-secondary fs-6';

const developerBadges = include('../../../../shared/badgeList', {
    badgeClass, 
    items: game.developers
});

const publisherBadges = include('../../../../shared/badgeList', { 
    badgeClass, 
    items: game.publishers 
}); 

const platformBadges = include('../../../../shared/badgeList', { 
    badgeClass, 
    items: game.platforms 
}); 

const genreBadges = include('../../../../shared/badgeList', { 
    badgeClass, 
    items: game.genres 
}); %>

<div class="card mb-4">
    <div class="position-relative">
        <div class="row">
            <div class="col-md-4">
                <img src="<%= game.coverPath %>" alt="Portada del juego" class="img-fluid rounded-start">
            </div>

            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title"><%= game.name %></h3>

                    <div class="row gy-2 align-items-start">
                        <%- include('./infoRow', {
                            label: 'Lanzamiento:',
                            value: game.released
                        }) %>

                        <%- include('./infoRow', {
                            label: 'Desarrollador(es):',
                            value: developerBadges
                        }) %>

                        <%- include('./infoRow', {
                            label: 'Publicador(es):',
                            value: publisherBadges
                        }) %>

                        <%- include('./infoRow', {
                            label: 'Plataformas:',
                            value: platformBadges
                        }) %>

                        <%- include('./infoRow', {
                            label: 'Géneros:',
                            value: genreBadges
                        }) %>

                        <%- include('./infoRow', {
                            label: 'Motor:',
                            value: game.engine
                        }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>