<div id="<%= accordion.id %>" class="accordion">
    <% accordion.items.forEach(item => { %>
        <div class="accordion-item">
            <h3 id="<%= item.ids.idHeader %>" 
                class="accordion-header"
            >
                <%- include('../../../shared/button', { 
                    button: {
                        id: item.toggleButton.id,
                        class: 'accordion-button',
                        attrs: {
                            'data-mdb-collapse-init': '',
                            'data-mdb-target': `#${ item.ids.idCollapse }`,
                            'aria-controls': item.ids.idCollapse,
                            'aria-expanded': 'false'
                        },
                        content: item.toggleButton.content
                    }
                }) %>
            </h3>

            <div id="<%= item.ids.idCollapse %>" class="accordion-collapse collapse" 
                aria-labelledby="<%= item.ids.idHeader %>" 
                data-mdb-parent="#<%= accordion.id %>"
            >
                <div class="accordion-body p-0">
                    <h4 class="visually-hidden"><%= item.body.title %></h4>
                    
                    <div class="list-group list-group-flush">
                        <% item.body.links.forEach(link => { %>
                            <a href="<%= link.href %>" data-mdb-ripple-init 
                                class="list-group-item list-group-item-action w-100"
                            >
                                <%- link.content %>
                            </a>
                        <% }); %>

                        <%- item.body.logout || '' %>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>