<% const header = {
    button: {
        id: 'menuCloseBtn',
        dismissTarget: 'offcanvas'
    },
    class: 'offcanvas-header',
    title: {
        id: 'menuTitle',
        content: 'Menú de navegación',
        class: 'offcanvas-title'
    }
};

const accordion = {
    id: 'navbarAccordion',
    items: [
        { 
            toggleButton: { 
                id: 'gamingAccordionToggle', 
                content: 'Gaming' 
            },
            ids: {
                idHeader: 'gamingAccordionHeader',
                idCollapse: 'gamingAccordionCollapse'
            }, 
            body: {
                title: 'Tags de Gaming',
                links: [
                    { content: 'Gaming', slug: '/categories/gaming' }
                ]
            }
        },
        { 
            toggleButton: { 
                id: 'entertainmentAccordionToggle', 
                content: 'Entretenimiento' 
            },
            ids: {
                idHeader: 'entertainmentAccordionHeader',
                idCollapse: 'entertainmentAccordionCollapse'
            }, 
            body: {
                title: 'Tags de Entretenimiento',
                links: [
                    { content: 'Entretenimiento', slug: '/categories/entertainment' }
                ]
            }
        },
        { 
            toggleButton: { 
                id: 'sportsAccordionToggle', 
                content: 'Deportes' 
            },
            ids: {
                idHeader: 'sportsAccordionHeader',
                idCollapse: 'sportsAccordionCollapse'
            }, 
            body: {
                title: 'Tags de Deportes',
                links: [
                    { content: 'Deportes', slug: '/categories/sports' }
                ]
            }
        },
        { 
            toggleButton: { 
                id: 'technologyAccordionToggle', 
                content: 'Tecnología' 
            },
            ids: {
                idHeader: 'technologyAccordionHeader',
                idCollapse: 'technologyAccordionCollapse'
            }, 
            body: {
                title: 'Tags de Tecnología',
                links: [
                    { content: 'Tecnología', slug: '/categories/technology' }
                ]
            }
        }
    ]
};

const items = [
    { 
        content: 'Inicio', 
        href: '/', 
        class: `nav-link ${ (currentRoute === '/') ? 'active' : '' }` 
    }
];

const searchForm = {
    idInput: 'textSearchOffcanvasInput',
    idButton: 'searchOffcanvasBtn'
}; %>

<div id="menuOffcanvas" tabindex="-1" class="offcanvas offcanvas-start w-md-50" 
    aria-labelledby="<%= header.title.id %>"
>
    <%- include('../../../shared/header', { header }) %>

    <div class="offcanvas-body d-flex flex-column dark">
        <div class="flex-grow-1 mb-5">
            <%- include('./searchForm', { searchForm }) %>
        </div>

        <div class="flex-grow-1 mb-5">
            <div class="mb-5">
                <%- include('../../ui/navList', { 
                    listClass: 'navbar-nav',
                    items 
                }); %>
            </div>

            <%- include('./menuAccordion', { accordion }) %>
        </div>

        <div>
            <% if (!profile) { %>
                <%- include('./loginButton', { idLoginButton: 'profileOffcanvasBtn' }) %>
            <% } else { %>
                <%- include('./profileMenu', { variant: 'offcanvas' }) %>
            <% } %>
        </div>
    </div>
</div>