<% const form = {
    id: 'accountForm',
    displayNameInput: { 
        id: 'textDisplayNameAccountInput', 
        label: {
            content: 'Nombre de usuario',
        },
        type: 'text', 
        name: 'displayName',
        value: profile.displayName || ''
    },
    profilePictureInput: { 
        id: 'fileProfilePictureAccountInput', 
        label: {
            content: 'Foto de perfil',
        },
        name: 'profilePicture',
        value: profile.profilePicture || ''
    },
    coverPictureInput: {
        id: 'fileCoverPictureAccountInput', 
        label: {
            content: 'Foto de portada',
        },
        name: 'coverPicture',
        value: profile.coverPicture || ''
    },
    nameInput: {
        id: 'nameAccountInput',
        label: {
            content: 'Nombre',
        },
        type: 'text',
        name: 'name',
        value: profile.name || ''
    },
    lastNameInput: {
        id: 'lastNameAccountInput',
        label: {
            content: 'Apellido',
        },
        type: 'text',
        name: 'lastName',
        value: profile.lastName || ''
    },
    submitButton: {
        id: 'accountSubmitButton', 
        content: 'Guardar cambios'
    }
}; %>

<form id="<%= form.id %>" class="row g-3">
    <div class="row mb-3">
        <%- include('../secondaryTitle', { title: 'información pública' }) %>

        <div class="col-md-4 mb-3">
            <p>Administra el nombre de usuario y perfil que se mostrará públicamente.</p>

            <%- include('../../../shared/outlineInput', { input: form.displayNameInput }) %>
        </div>
    
        <div class="col-md-4 mb-3">
            <p>Selecciona una imágen de perfil</p>

            <%- include('../../../shared/fileInput', { input: form.profilePictureInput }) %>
        </div>

        <div class="col-md-4 mb-3">
            <p>Selecciona una imágen de portada</p>

            <%- include('../../../shared/fileInput', { input: form.coverPictureInput }) %>
        </div>
    </div>

    <div class="row mb-3">
        <%- include('../secondaryTitle', { title: 'información personal' }) %>

        <p>Administra tu información personal. Consulta nuestros <a href="#">Términos de Servicio</a> y <a href="#">Política de Privacidad</a>.</p>

        <div class="row">
            <div class="col-md-6 mb-3">
                <%- include('../../../shared/outlineInput', { input: form.nameInput }) %>
            </div>

            <div class="col-md-6 mb-3">
                <%- include('../../../shared/outlineInput', { input: form.lastNameInput }) %>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center bg-sticky rounded-3">
        <%- include('../../../shared/submit', { button: form.submitButton }) %>
    </div>
</form>